<!DOCTYPE html>
<html>
    <head>
        <title>BAN2</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/9da116f39f.js" type="text/javascript"></script>
        <script src="/js/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script src="/js/meu_codigo.js" type="text/javascript"></script>
        <script>
            $(function () {
                $('html').addClass('dom-loaded');
            });
        </script>
    </head>
    <body>
        {{> header }}

        {{{ body }}}
        
        {{> footer }}
    </body>
    
</html>