<!DOCTYPE html>
<html>
    <head>
        <title>BAN2</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/9da116f39f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {{ header }}

        {{{ body }}}
        
        {{ footer }}
    </body>
</html>