{{#if error}}
    <div class="container" style="color: red;">
        <div class="header">
            <h2>{{error.title}}</h2>
            <h4>
                {{error.message}}
            </h4>
        </div>
</div>
{{/if}}