 <header>
    <a href="/" color="white">
        </h3>
        <h1>
            {{#if logged}}
                Bem vindo,
                {{!-- {{sesseion.username}} --}}
            {{else}}
                Rede de Hotéis Prime SC
            {{/if}}
        </h1>
    </a>
</header>
{{user}}

<nav>
    <ol class="categorias">
        {{!-- <% if (!loggedIn || usuario.tipo === 0) { %>
            <% for (const hotel of hotelList) { %>
                <li>
                    <a href="/hotel/<%= hotel.cod_interno %>"> <%= hotel.nome %> </a>
                </li>
            <% } %>
        <% } else { %>
            <li> <a href="/reservas"> Reservas </a> </li>
            <li> <a href="/funcionario"> Funcionários </a> </li>
        <% } %> --}}

        {{#if logged}}
            <div class="login">
                <a href="/estadias">&nbsp Minha Estadia &nbsp</a>
            </div>
            <div class="cadastro">
                <a href="/conta/logout">&nbsp Sair &nbsp</a>
            </div>
            {{else}}
            <div class="login">
                <a href="/conta/login">&nbsp Entrar &nbsp</a>
            </div>
            <div class="cadastro">
                <a href="/conta/cadastro">&nbsp Cadastre-se &nbsp</a>
            </div>
        {{/if}}
    </ol>
</nav>