<div class="container">
    
    {{#if error}}
        <div class="container" style="color: red;">
            <div class="header">
                <h2>{{error.title}}</h2>
                <h4>
                    {{error.message}}
                </h4>
            </div>
        </div>
    {{/if}}
    
    <div class="header">
        <h2>Faça seu login</h2>
    </div>

    <form id="form" class="form" action="login" method="post">
        <div class="form-control">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <small>Mensagem de erro</small>
        </div>

        <div class="form-control">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password">
            <i class="fas fa-exclamation-circle"></i>
            <i class="fas fa-check-circle"></i>
            <small>Mensagem de erro</small>
        </div>

        <button type="submit">Login</button>
    </form>
</div>
<script src="js/login.js"></script>